body {
    font-family: Microsoft JhengHei;
}

.navbar {
    margin-top: 20px;
    background: #58baa2;
    background: -moz-linear-gradient(left, #58baa2 0%, #1879b2 100%);
    background: -webkit-linear-gradient(left, #58baa2 0%, #1879b2 100%);
    background: linear-gradient(to right, #58baa2 0%, #1879b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58baa2', endColorstr='#1879b2', GradientType=1);
}

.navbar-brand>img {
    height: 120px;
}

.custom-toggler {
    border-color: black;
}

@media (min-width: 992px) {
    .navbar-nav>li>a {
        color: #ffffff !important;
        font-size: 24px;
    }
    .navbar-nav>li>a:hover {
        color: yellow !important;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        background-color: #f5f5f5;
    }
}

@media (max-width: 452px) {
    .navbar-brand>img {
        height: 60px;
    }
}