body {
    font-family: Microsoft JhengHei;
}

.navbar {
    margin-top: 20px;
    background: url("../../../public/image/top.png");
    background-repeat: no-repeat;
    min-height: 130px;
}

.custom-toggler {
    border-color: black;
}

@media (max-width: 991px) {
    .navbar-nav {
        background-color: #f5f5f5;
    }
    .navbar-header {
        margin-bottom: 90px;
    }
}

@media (min-width: 992px) {
    .navbar-nav>li>a {
        color: #ffffff !important;
        font-size: 24px;
    }
    .navbar-nav>li>a:hover {
        color: yellow !important;
    }
}

@media (max-width: 319px) {
    .navbar {
        background: none;
        /*can be other image*/
    }
}