language: php
php:
  - 7.3
cache:
  directories:
    - client/node_modules
    - server/vendor
before_install:
  - nvm install --lts
  - nvm use --lts
install:
  - cd client
  - npm install
  - cd ..
  - ./linux-build.sh
  - cd server
  - composer install
  - cd ..
script:
  - cd client
  - npm test
  - cd ..
  - cd server
  - composer run-script linux-test
  - cd ..
