/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/assets
/public/index.html
/public/3rdpartylicenses.txt
/public/main.*.js
/public/polyfills.*.js
/public/runtime.*.js
/public/styles.*.css
