<!-- footer -->
<div class="container text-center text-md-middle mt-5">
  <footer class="page-footer font-small dark">

    <!-- Grid row-->
    <div class="row mt-3">

      <div class="col-md-6 col-lg-3  mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">中心介紹</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footer-item"><a href="/pages/goals">中心宗旨</a></p>
        <p class="footer-item"><a href="/pages/tasks">業務執掌</a></p>
        <p class="footer-item"><a href="/pages/history">歷史沿革</a></p>
        <p class="footer-item"><a href="/pages/coursepolicies">開班政策</a></p>
        <p class="footer-item"><a href="/pages/Vietnam">越南培訓/業務執掌</a></p>
      </div>

      <div class="col-md-6 col-lg-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">開班流程</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footer-item"><a href="/pages/courserules">開班法規</a></p>
        <p class="footer-item"><a href="/pages/projectform">計劃書格式</a></p>
        <p class="footer-item"><a href="/pages/tasksop">推廣業務SOP</a></p>
      </div>

      <div class="col-md-6 col-lg-3  mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">TTQS專區</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footer-item"><a href="/pages/TTQSgoalsnpolicies">目標與政策</a></p>
        <p class="footer-item"><a href="/pages/TTQSplans">計畫</a></p>
        <p class="footer-item"><a href="/pages/TTQSaction">執行</a></p>
        <p class="footer-item"><a href="/pages/TTQSdesign">設計</a></p>
        <p class="footer-item"><a href="/pages/TTQScheck">查核</a></p>
        <p class="footer-item"><a href="/pages/TTQSoutcome">成果</a></p>
        <p class="footer-item"><a href="/pages/TTQStrainingmanual">訓練品質手冊</a></p>
      </div>

      <div class="col-md-6 col-lg-3  mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">服務</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footer-item"><a href="/pages/servicelocation">服務據點</a></p>
        <p class="footer-item"><a href="/pages/customerservice">客戶服務</a></p>
        <p class="footer-item"><a href="/pages/download">表格下載</a></p>
      </div>

    </div>

    <div class=" text-center">
      <span style="display:inline-block;padding-right:25px;font-size:13px;">©國立雲林科技大學 推廣教育中心 National Yunlin
        University
        of Science and Technology Center of Continuing Education<br>
        64002 雲林縣斗六市大學路3段123號 | Tel: 05-534-2601#2281~#2284 | Fax: 05-5312037 | E-mail: anx@yuntech.edu.tw</span>

      <span style="display:inline-block;">
        <a href="https://www.facebook.com/yuntechtcx" target="_blank">
          <span style="color: dodgerblue;margin:0px 5px 0px 0px;">
            <i class="fab fa-facebook-square fa-3x"></i>
          </span>
        </a>

        <a href="https://line.me/ti/p/%40ivi6389o" target="_blank">
          <span style="color: green;margin:0px 0px 0px 5px;">
            <i class="fab fa-line fa-3x"></i>
          </span>
        </a>
      </span>
    </div>
  </footer>
</div>