<!-- footer -->
<div class="container">
    <footer class="footer" ng-hide="isInBackend()">
      <!-- static footer content, didn't use data in database -->
      <div class="row">
        <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-intro">
          <p class="footer-title">中心介紹</p>
          <p class="footer-item"><a href="/pages/goals">中心宗旨</a></p>
          <p class="footer-item"><a href="/pages/tasks">業務執掌</a></p>
          <p class="footer-item"><a href="/pages/history">歷史沿革</a></p>
          <p class="footer-item"><a href="/pages/coursepolicies">開班政策</a></p>
          <p class="footer-item"><a href="/pages/Vietnam">越南培訓/業務執掌</a></p>
        </div>
        <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-class-flow">
          <p class="footer-title">開班流程</p>
          <p class="footer-item"><a href="/pages/courserules">開班法規</a></p>
          <p class="footer-item"><a href="/pages/projectform">計劃書格式</a></p>
          <p class="footer-item"><a href="/pages/tasksop">推廣業務SOP</a></p>
        </div>
        <div class="my-clear-fix"></div>
        <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-ttqs">
          <p class="footer-title">&nbsp;TTQS專區</p>
          <p class="footer-item"><a href="/pages/TTQSgoalsnpolicies">目標與政策</a></p>
          <p class="footer-item"><a href="/pages/TTQSplans">計畫</a></p>
          <p class="footer-item"><a href="/pages/TTQSaction">執行</a></p>
          <p class="footer-item"><a href="/pages/TTQSdesign">設計</a></p>
          <p class="footer-item"><a href="/pages/TTQScheck">查核</a></p>
          <p class="footer-item"><a href="/pages/TTQSoutcome">成果</a></p>
          <p class="footer-item"><a href="/pages/TTQStrainingmanual">訓練品質手冊</a></p>
        </div>
        <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-service">
          <p class="footer-title">服務　　</p>
          <p class="footer-item"><a href="/pages/servicelocation">服務據點</a></p>
          <p class="footer-item"><a href="/pages/customerservice">客戶服務</a></p>
          <p class="footer-item"><a href="/pages/download">表格下載</a></p>
        </div>
        <!--<div class="col-md-3 col-sm-6 footer-title-bg" id="anx-training">
              <p class="footer-title">教育訓練</p>
              <p class="footer-item"><a href="/pages"></a></p>
            </div>-->
        <div class="my-clear-fix"></div>
      </div>
      <div class="row">
        <!--<div class="col-md-3 col-sm-6 footer-title-bg" id="anx-learning">
              <p class="footer-title">學習專區</p>
              <p class="footer-item"><a href="/pages"></a></p>
            </div>-->
  
        <!--<div class="my-clear-fix"></div>
            <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-wanted">
              <p class="footer-title">菁英招募</p>
              <p class="footer-item"><a href="/pages"></a></p>
            </div>
            <div class="col-md-3 col-sm-6 footer-title-bg" id="anx-purchase">
              <p class="footer-title">採購專區</p>
              <p class="footer-item"><a href="/pages"></a></p>
            </div>-->
        <div class="my-clear-fix"></div>
      </div>
  
  
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <span style="display:inline-block;padding-right:25px;font-size:13px;">©國立雲林科技大學 推廣教育中心 National Yunlin
            University
            of Science and Technology Center of Continuing Education<br>
            64002 雲林縣斗六市大學路3段123號 | Tel: 05-534-2601#2281~#2284 | Fax: 05-5312037 | E-mail: anx@yuntech.edu.tw</span>
  
          <span style="display:inline-block;">
            <span style="font-size:40px;color:#3B5998;"><a href="https://www.facebook.com/yuntechtcx" target="_blank"><i
                  class="fa fa-facebook-square" aria-hidden="true"></i></a> </span><a href="https://line.me/ti/p/%40ivi6389o"
              target="_blank"><img src="image/LINE_Icon.png" alt="" style="width:34px;padding-bottom:20px;"></a>
          </span>
        </div>
      </div>
      <br>
      <br>
    </footer>
  </div>